@font-face {
  font-family: "Avenir";
  src:
  url("Styles/font/AvenirLTStd-Medium.otf") format("opentype"),
  }

body {
    background-color: #ffffff;
    font-family: "Avenir";
  }

title {
    padding-top: 3%;
    padding-bottom: 0.5%;
    font-weight: 300;
    text-align:center;
    display:block;
    color: #3A3A3A;
    font-size: 90px;
    font-family: "Avenir";
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-container > a {
    width: 450px;
    margin: 15px;
    font-size: 30px;
    justify-content: center;
    transition: transform .2s; /* Animation */
  }
  
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
    animation-duration: 1.75s;
    max-width: 1500px;
    margin: 0 auto;
}
  
  a:hover {
    transform: scale(1.05); 
  }

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@media only screen and (max-width: 600px) {
    title {
        padding-top: 15%;
        padding-bottom: 1%;
        font-weight: 300;
        text-align:center;
        display:block;
        color: #3A3A3A;
        font-size: 65px;
    }
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .flex-container > a {
        width: 400px;
        transition: transform 0; /* Animation */
      }
      a:hover {
        transform: scale(1); 
      }
    
}