/* @font-face {
    font-family: 'Poppins', sans-serif;;
    src: url('fonts/AvenirLTStd-Book.woff') format('woff');
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
html,
body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #B1B1B1;
}

center {
    z-index: 2;
    position: absolute;
    width: 100%;
}

a>svg {
    width: 45px;
    height: 45px;
    stroke: #3a3a3a;
    animation: fadeInAndScale 0.8s ease-in-out forwards;
    transition: 250ms all ease;
}

a>svg:hover {
    stroke: #3DBEE5;
}

@keyframes fadeInAndScale {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

* {
    text-decoration: none;
}

title {
    padding-top: 15%;
    font-weight: 400;
    text-align: center;
    display: block;
    color: #3a3a3a;
    z-index: 50;
    font-size: 90px;
    font-family: 'Poppins', sans-serif;
    ;
}

#typeWritter {
    color: #3a3a3a;
    font-weight: 100;
    font-size: 40px;
    font-weight: lighter;
}

a {
    display: inline-block;
    bottom: 0;
    margin: 30px;
    margin-top: 15%;
    transition: 250ms all ease;
}

a:hover {
    transform: scale(1.2);
}

@media only screen and (max-width: 600px) {
    a {
        display: inline-block;
        bottom: 0;
        margin: 10px 13px;
        margin-top: 65%;
        transition: transform 0;
        /* Animation */
    }
    a:hover {
        transform: scale(1);
    }
    title {
        padding-top: 20%;
        text-align: center;
        display: block;
        color: #3a3a3a;
        font-size: 65px;
        line-height: 1.2;
    }
    a>svg {
        width: 37px;
        height: 37px;
        stroke: #3a3a3a;
    }
    a>svg:hover {
        stroke: #3a3a3a;
    }
    #typeWritter {
        color: #3a3a3a;
        font-size: 28px;
        margin-top: 5%;
        font-weight: lighter;
    }
}

#morph {
    height: 100%;
    width: 100%;
}

.st0 {
    fill: #B1B1B1;
}

.st1 {
    fill: #BEBEBE;
}

.st2 {
    fill: #CBCBCB;
}

.st3 {
    fill: #D8D8D8;
}

.st4 {
    fill: #E5E5E5;
}

.st5 {
    fill: #F2F2F2;
}

.st6 {
    fill: #FFFFFF;
}